<%= form_for InterviewSchedule.new, as: :interview_schedule, url: interview_schedules_path(notification_id: @notification, candidate: @candidate), method: :post , html: {}, remote: true do |f| %>
      <div class="actions mb-3">
      <%= f.label "Select Date Time", style: "text-transform: capitalize;" %>
        <%= f.text_field :time, class: "form-control", id: 'dtField' %>
      </div>

      <div class="actions mb-3">
        <%= f.label 'Meeting Link', style: "text-transform: capitalize;"%>
        <%= f.text_field :url, class: "form-control" %>
      </div>

      <div class="actions mb-3">
          <div class="form-group">
              <label>Lead</label>
                      <%= f.select :lead_id, @lead_assigned.collect {|p| [ p.lead.name, p.lead.id ] }, {include_blank: 'Select'}, class: "js-example-basic-single form-control select1 sel-search mb-3", id:"category-select" %>
          </div>
      </div> 
      <div class="actions mb-3">
          <div class="form-group">
              <label class="">Manager</label>
                      <%= f.select :pool_manager_id , @pool_managers.collect {|u| [ u.name, u.id ] }, {include_blank: 'Select'}, class: "js-example-basic-single form-control select1 sel-search mb-3" %>
          </div>
      </div> 

      <%= f.hidden_field :candidate_id, value: @lead_assigned.first.candidate_id, class: "form-control" %>
      <%= f.hidden_field :hr_id, value: current_user.id, class: "form-control" %>

      <div class="modal-footer border-0">
        <%= f.submit "Save", class: " btn default-btn" %>
      </div>
<% end %>