<%= form_for SkillSet.new, as: :skill_set, url: skill_sets_path(@skill_set), method: :post, html: { class: "edit_post", id: "edit_post_45" }, remote: true do |f|  %>  
    
    <div class="actions">
      <%= f.text_field :name , class: "form-control", placeholder: 'Enter Name' %><br>
    </div>

    <div class="actions">
      <%= f.select :section, SkillSet::Section_LIST, {include_blank: 'Select'}, class: "form-control" %>
    </div>
    
   <div class="actions">
     <%= f.hidden_field :skill_type , class: "form-control", placeholder: 'Enter Skill Type', value: 'secondary'%>
   </div>
 
   <div class="actions"><br>
     <%= f.submit "Create Skill" , class: "btn default-btn", id: "skillSets" %>
   </div>
 
 <% end %>