<%= render "layouts/header"%>
<div class="container">
    <div class="p-3 my-4 bg-light">
        <div>
        <div>From: <%=  User.find(@notification.sender_id).email%></div>
        <%lead = @notification.lead%>
        <div>Name: <%= lead.name %></div>
        <div>Profile: <%= lead.profile %></div>
        <div>Status: <%= lead.status %></div>
        <div>Additional Info: <%= lead.additional_info %></div>
        <hr>
        </div>
    </div>
    
</div>