<%=  render "devise/sessions/login_header" %>
  <section class="user-area ptb-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6">
            <div class="user-form-content log-in-50 pt-4">
              <h3>Change Your Password </h3>
              <div class="user-form">
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <div class="row">
                  <div class="col-12">
                   <%= render "devise/shared/error_messages", resource: resource %>
                  <%= f.hidden_field :reset_password_token %>
                    <div class="form-group">
                      <label>New Password</label>
                        <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                        <% end %>
                      <%= f.password_field :password, autofocus: true, autocomplete: "email" , class: "form-control" %>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <label> Confirm New Password</label>
                      <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password" , class: "form-control" %>
                    </div>
                  </div>
                </div>

                <div class="col-12" class="actions">
                      <%= f.submit "Change my password" , class: "btn default-btn" %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

<style>
  #error_explanation{
    color: red;
  }

  #error_explanation h2 {
      display: none;
  }
</style>