<%= render "layouts/header"%>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.jqueryui.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>

  <div class="breadcrumb-lead">
    <div class="overlay"></div>
        <div class="container position-relative">
        <h1 class="text-white">Leads</h1>
        </div>
  </div>

      <div class="container">
        
          <div class="p-3">

            <div class="row mb-3">

                <div class="col-lg-6 mt-3 h1">
                  <div class="welcome-message">
                      Welcome, <%= current_user.name %>
                  </div>
                </div>

                <div class="col-lg-6 text-right mb-5 mt-3">
                  <b> <%= link_to '+ Add New Lead', new_lead_path, class: "btn default-btn" %>  </b>
                </div>

            </div>
        
            <h3 class="position-absolute">All Leads</h3>

            <table id="leadsTable" class="display primary-table" style="width:100%">

                <thead>
                  <tr> 
                      <th style="width: 5%;">Name</th>
                      <th style="width: 10%;">Skills</th>
                      <th style="width: 5%;">Assigned To</th>
                      <th style="width: 5%;">Status</th>
                      <th style="width: 10%;">Additional Info</th>
                      <th style="width: 2%;">Created_by</th>
                      <th style="width: 12%;">Actions</th>
                  </tr>
                </thead>

                <tbody>
                    <% @leads.each do |lead| %>

                      <tr>

                        <td class="text-capitalize">
                            <% if lead.name.present? %> 
                                <%= link_to lead.name, lead %>
                            <% else %>
                                <p>Not Available</p>
                            <% end %>
                        </td>

                        <td class="text-capitalize">
                          <% if lead.profile_array.present? %> 
                              <% lead.profile_array.each do |profile| %>
                                <span><%= profile %></span>
                              <% end %>
                          <% else %>
                              <p>Not Available</p>
                          <% end %>
                        </td>

                        <td class="text-capitalize">
                            <% if lead.assigned_to.present? %> 
                              <%= link_to User.find_by(email: lead.assigned_to).name, lead %>
                            <% else %>
                                <p>Not Available</p>
                            <% end %>
                        </td>

                        <td class="text-capitalize">
                            <% if lead.status.present? %>
                              <%= link_to lead.status, lead %>
                            <% else %>
                              <p>Not Available</p>
                            <% end %>
                        </td>

                        <td class="text-capitalize">
                            <% if lead.additional_info.present? %>
                                <%= link_to lead.additional_info, lead %>
                            <% else %>
                                <p>Not Available</p>
                            <% end %>
                        </td>

                         <td class="text-capitalize">
                            <%= lead.user.name %>
                        </td>

                        
                          <td class="text-capitalize">
                            <%= link_to edit_lead_path(lead.id),  class: "btn btn-primary" do %>
                            <i class="fa fa-pencil"></i>
                            <% end %> <%= link_to lead_path(lead.id), method: :delete,  data: { confirm: "Are you sure you want to delete this lead?" }, class: "btn btn-danger" do %>
                            <i class="fa fa-trash"></i><% end %> 
                        </td>

                      </tr>

                    <% end %>
                </tbody>

            </table>
            <div class="text-right">
            <% if current_user.has_role? :manager %>
              <a href="/interview_schedules/manager_dashboard" class="text-success"><i class="fa fa-long-arrow-left"></i> Back </a>
            <% end %>
        </div>
          </div>
      </div>

<style>
    .breadcrumb-lead{
      background-color: #4fb174;
      padding: 12rem 0;
      background-repeat: no-repeat;
      background-image: url(https://cdn.pixabay.com/photo/2017/01/14/10/56/people-1979261_960_720.jpg);
      background-size: 100%;
      background-position: center;
      position: relative;
    }
    .overlay{
      background-color: rgb(79, 177, 116, 0.6);
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
    }
    .primary-table thead{
      background-color: #4fb174;
      color: #fff;
      table-layout: fixed;
    }
    .dataTables_scrollHead th, .dataTables_scrollHead td{
      padding: 20px 10px !important;
      text-align: center !important;
    }
    .primary-table tbody td:nth-child(odd){
      background-color: #f3f3f3;
      text-align: center !important;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .primary-table tbody td:nth-child(even){
      background-color: #ffffff;
      text-align: center !important;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .alert-notice{
      display: none;
		}
</style>

<script>
$(document).ready(function(){
  $("#leadsTable").DataTable({
      responsive: true,
      scrollX: '200px',
      scrollY: true,
      paging: false,
      language: { search: "", searchPlaceholder: "Search..." },
  })
})
</script>