<%= render "layouts/header"%>
<div>
    <h6>Name</h6>
    <%= @lead.name %><br>
    <h6>Profile</h6>
    <%= @lead.profile %><br>
    <h6>Assigned To</h6>
    <%= @lead.assigned_to %><br>
    <h6>Status</h6> 
    <%= @lead.status %><br>
    <h6>Additional Info</h6> 
    <%= @lead.additional_info %><br>
</div>
<%= link_to "Edit", edit_lead_path(@lead) %>
<%= link_to "Delete", lead_path(@lead), method: :delete %>




