<%= render "layouts/header"%>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.jqueryui.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>

<div class="breadcrumb-lead">
    <div class="overlay"></div>
        <div class="container position-relative">
            <h1 class="text-white">My Leads</h1>
        </div>
    </div>
    <div class="container">
        <div class="p-3">
            <div class="row mb-3">
                <div class="col-lg-5 mt-3 h3">
                    <div class="welcome-message">
                        Welcome, <%= current_user.name %>
                    </div>
                </div>
                <% if current_user.has_any_role?(:manager, :sales_person) %>
                  <div class="col-lg-7 text-right mb-5 mt-3">
                      <div class="d-flex align-items-center justify-content-end">
                          <b><%= link_to '+ Add New Lead', new_lead_path, class: "btn default-btn" %></b>
                      </div>
                  </div>
                <% end %>
            </div>
            <h3 class="position-absolute">Leads</h3>
            <div id="durationFilter">
                <%= render partial: 'lead_table', locals: {leads: @leads, actions_required: true}%>
            </div>
        </div>
    </div>
<style>
    .breadcrumb-lead{
      background-color: #4fb174;
      padding: 12rem 0;
      background-repeat: no-repeat;
      background-image: url(https://cdn.pixabay.com/photo/2017/01/14/10/56/people-1979261_960_720.jpg);
      background-size: 100%;
      background-position: center;
      position: relative;
    }
    .overlay{
      background-color: rgb(79, 177, 116, 0.6);
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
    }
    .primary-table thead{
      background-color: #4fb174;
      color: #fff;
      table-layout: fixed;
    }
    .dataTables_scrollHead th, .dataTables_scrollHead td{
      padding: 20px 10px !important;
      text-align: center !important;
    }
    .primary-table tbody td:nth-child(odd){
      background-color: #f3f3f3;
      text-align: center !important;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .primary-table tbody td:nth-child(even){
      background-color: #ffffff;
      text-align: center !important;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .alert-notice{
      display: none;
		}
</style>

<script>
$(document).ready(function(){
  $(".duration-filter-ajax").on('change', function(){
      let start_date =  $('#from_date_durantion')[0].value
      let end_date =  $('#to_date_durantion')[0].value
     $.ajax({
      type: "GET",
      url: '<%= duration_filter_leads_path %>',
      data: {"from": start_date, "to": end_date}

     })
  })
})
</script>