<section class="candidates-resume-area ptb-100">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="candidates-resume-content">
                <%= form_with model: @candidate,  :html => {:multipart => true}, class: "resume-info" do |f| %>
                    <h3>Personal Details</h3>

                    <div class="row">

                        <div class="col-lg-5 mb-4 file-upload_area">

                            <h6>Upload Profile Image</h6>
                            
                            <div class="inner-area">
                            <i class="fa fa-user" id="fa">
                            <% if @candidate.image.present? %>
                                <%= image_tag @candidate.image.url, class: "edit_image" %>
                            <% end %>
                            </i>
                                <%= f.file_field :image, accept: "image",id:"img_tag", onchange: "readURL(this);" %> 
                                <img id="blah">  
                            </div>
                        </div>

                        <div class="col-lg-2"></div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label class="required">First Name</label>
                                <%= f.text_field :first_name, class: "form-control" , id:"fname"%>
                                <% if error_helper(:first_name) != []%>
                                    <span class="error-message", id="msg">First Name <%= error_helper(:first_name).first %></span>
                                <% end %>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label class="required">Last Name</label>
                                <%= f.text_field :last_name, class: "form-control", id: "lname" %>   
                                <% if error_helper(:last_name) != []%>
                                    <span class="error-message", id="msg1">Last Name <%= error_helper(:last_name).first %></span>
                                <% end %>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label class="required">Email</label>
                                <%= f.text_field :email, class: "form-control", id: "email" %>
                                <% if error_helper(:email) != []%>
                                    <span class="error-message", id="msg2">Email <%= error_helper(:email).first %></span>
                                <% end %>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label class="required">Phone</label>
                                <%= f.text_field :phone, class: "form-control", id: "phone" %>
                                <% if error_helper(:phone) != []%>
                                    <span class="error-message", id="msg3">Phone <%= error_helper(:phone).first %></span>
                                <% end %>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Date Of Birth</label>
                                <div id="datetimepicker">
                                    <%= f.date_field :date_of_birth, min: Date.today - 100.years, max: Date.today, class: "form-control", order: [:day, :month, :year], id: "date" %>
                                    <span class="input-group-addon"></span>
                                </div>  
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label class="required">Gender</label>
                                <div id="gender">
                                    <%= f.select :gender, Candidate::GENDER_LIST, {include_blank: 'Select'}, class: "form-control select1" %>
                                <% if error_helper(:gender) != []%>
                                    <span class="error-message", id="msg5">Gender <%= error_helper(:gender).first %></span>
                                <% end %>
                                </div>  
                            </div>
                        </div> 

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Martial Status</label>
                                <div  id="status">
                                    <%= f.select :marital_status, Candidate::MARITAL_LIST, {include_blank: 'Select'}, class: "form-control select1"  %>
                                </div>  
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Nationality</label>
                                <div id="nationality">
                                 <%= f.select :nationality, CS.countries.values.sort, {include_blank: 'Select'}, class: "js-example-basic-single form-control select1 sel-search" %>
                                 
                                </div>  
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Location</label>
                                <div id="current_location">
                                <%= select_tag :current_location, options_for_select("select"), prompt: "Select", class: "js-example-basic-single form-control select1 sel-search"%>
                                </div>  
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                <div id="city_select">
                                    <%= select_tag :city, options_for_select("select"), prompt: "Select", class: "js-example-basic-single form-control select1 sel-search" %>
                                </div>  
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Availability From </label>
                                <%= f.text_field :start_time, class: "form-control", id: "timepicker" %>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Availability To </label>
                                <%= f.text_field :end_time, class: "form-control", id:"timepicker1" %>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Available Time Zone</label>
                                <div id="time">
                                    <%= f.select :available_time_zone, Candidate::TIME_ZONE_LIST, {include_blank: 'Select'}, class: "form-control select1" %>
                                </div>  
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Experience</label>
                                <div>
                                <%= f.select :experience, Candidate::EXPERIENCE_LIST, {include_blank: 'select'}, class: "form-control select1"%> 
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="staff-sub-checkbox">
                                <div>    
                                    <h6><span class="access_label">Primary Skills:</span></h6>
                                    <div class="custom_checkbox mt-15" id="refresh_primary">
                                          <%= render 'layouts/primary', f: f%>
                                    </div>
                                </div>
                            </div>
                        </div> 

                        <div class="col-md-6">
                            <div class="staff-sub-checkbox">
                                <div>
                                    <h6><span class="access_label">Secondary Skills:</span></h6>
                                    <div class="custom_checkbox mt-15" id="refresh_secondary">
                                        <%= render 'layouts/secondary', f: f%>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="required">Address Details</label>
                                <%= f.text_area :address, class: "form-control", rows: "4", id: "address" %>
                            <% if error_helper(:address) != []%>
                                    <span class="error-message", id="msg11">Address <%= error_helper(:address).first %></span>
                            <% end %>
                            </div>
                        </div>
                    </div>

                    <h3>Career And Application Information</h3>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Notes</label>
                                <%= f.text_area :notes, class: "form-control", rows: "4" %>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Present Salary</label>
                                <%= f.text_field :present_salary, class: "form-control" %>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Expected Salary</label>
                                <%= f.text_field :expected_salary, class: "form-control" %>
                            </div>
                        </div>
                    </div>
                
                    <div class="row mb-30">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div id="category">
                                    <label>Category</label>
                                    <%= f.select :category, Candidate::CATEGORY_LIST, {include_blank: 'select'}, class: "form-control select1"%>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div id="link">
                                    <label>Linkedin URL</label>
                                    <%= f.text_field :link, class: "form-control", id:"link"%>
                                </div>
                            </div>
                        </div>

        
                        <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Language</label>
                            <div id="language">
                                <%= f.select :language, Candidate::LANGUAGE_LIST, {include_blank: 'Select'}, class: "form-control select1" %>
                            </div>  
                        </div>
                    </div> 

                    <div class="col-lg-6 col-md-6">
                        <div class="choose-img">
                            <p>Upload (Resume)</p> 
                            <% if @candidate.file.present? %>
                                <%= link_to @candidate.file.identifier, @candidate.file.url, class: "form-control border-0" %>
                            <% end %>                                    
                            <%= f.file_field :file, id: "img" %>
                            <% if error_helper(:file) != []%>
                                    <span class="error-message">Resume <%= error_helper(:file).first %></span>
                            <% end %>  
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                    <div class="choose-img">
                        <p>Upload_Updated (Resume)</p> 
                        <% if @candidate.updated_file.present? %>
                            <%= link_to @candidate.updated_file.identifier, @candidate.updated_file.url, class: "form-control border-0" %>
                        <% end %>                                    
                        <%= f.file_field :updated_file, id: "img" %>                                   
                    </div>
                </div>


                    </div>

                    <br><h4>Education</h4>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Level of Education</label>
                                <div id="level_of_education">
                                <%= f.select :level_of_education, Candidate::LEVEL_OF_EDUCATION_LIST, {include_blank: 'select'}, class: "form-control select1"%>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Exam / Degree Title</label>
                                <div id="degree">
                                <%= f.select :degree, Candidate::DEGREE_LIST, {include_blank: 'select'}, class: "form-control select1"%>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Major/Group</label>
                                <%= f.text_field :group, class: "form-control" %>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Institute Name</label>
                                <%= f.text_field :institute_name, class: "form-control" %>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Result</label>
                                <div id="result">
                                    <%= f.select :result, Candidate::RESULT_LIST, {include_blank: 'select'}, class: "form-control select1"%>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Marks(%)</label>
                                <%= f.text_field :marks, class: "form-control" %>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Year of Passing</label>
                                <div id="year">
                                    <%= f.select :year_of_passing, Candidate::YEAR_OF_PASSING_LIST, {include_blank: 'select'}, class: "form-control select1"%>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Duration (Years)</label>
                                <%= f.text_field :duration, class: "form-control" %>
                            </div>
                        </div>
                    </div>

                    <h3>Experience</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Company Name</label>
                                <%= f.text_field :company_name, class: "form-control" %>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Company Business </label>
                                <%= f.text_field :company_business, class: "form-control" %>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Designation</label>
                                <%= f.text_field :designation, class: "form-control" %>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Department</label>
                                <%= f.text_field :department, class: "form-control" %>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Responsibilities</label>
                                <%= f.text_field :responsiblities, class: "form-control" %>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Company Location</label>
                                <%= f.text_field :company_location, class: "form-control" %>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Employment Period</label>
                                <div id="period">
                                    <%= f.select :employment_period, Candidate::EMPLOYMENT_PERIOD_LIST, {include_blank: 'select'}, class: "form-control select1"%>
                                </div>
                            </div>
                        </div>

                    <div class="col-lg-12 d-flex justify-content-between">
                        <%= f.submit "Save", class: " btn default-btn" %>
                        <%= link_to '<i class="fa fa-long-arrow-left"></i> Back'.html_safe, :back, class: 'text-success' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
</section>

<script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<script>
    $('#timepicker').timepicker({
        uiLibrary: 'bootstrap4'
    });

    $('#timepicker1').timepicker({
        uiLibrary: 'bootstrap4'
    });

    function readURL(input) {
    if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
    a = $('#blah').attr('src', e.target.result).width(100).height(100);
    };
    reader.readAsDataURL(input.files[0]);
    }
    document.getElementById("img_tag").style.display = "none";
    document.getElementById("fa").style.display = "none";
    document.getElementById("blah").style.display = "block";
    }

    $(document).ready(function(){
        $("#blah").click(function(){
        $("#img_tag").click();
        });

        $("#nationality").change(function(){
            var country = $('#nationality option:selected').text();
            $.ajax({
            type: "GET", 
            url: "/show/states",
            data: {'country': country},
            })
        });

        $("#current_location").change(function(){
            var state = $('#current_location option:selected').text();
            var country = $('#nationality option:selected').text();
            $.ajax({
            type: "GET", 
            url: "/show/cities",
            data: {'country': country, 'state': state},
            })
        });
        
        // js for adding input tag inside select tags
        $("#nationality ul li:first , #current_location ul li:first, #city_select ul li:first, #time ul li:first, #category ul li:first, #degree ul li:first, #year ul li:first, #period ul li:first").before('<input type="text" class="search_field form-control" placeholder="Search.." onclick="event.stopPropagation()"/>')

        // js for adding search functionality inside select tags
        $(".search_field").on('keyup', function(e){
            sear_val = $(this).val().toLocaleLowerCase().trim();
            
            id = e.currentTarget.parentElement.parentElement.parentElement.id
            
            id = id != "" ? id : e.currentTarget.parentElement.parentElement.id
            let checkids = ["primary_skill" , "secondary_skill"]
            if(checkids.includes(id)){
                console.log($("#" + id + " ul li")[0].id    , "filter");
                $("#" + id + " ul li").filter(function() {
                    console.log($(this)[0].id , "this" );
                $(this).toggle($(this)[0].id.trim().toLowerCase().indexOf(sear_val.trim().toLowerCase()) > -1);
                // $(this).parent().toggle();

            });
            }
            else{
                
            $("#" + id + " ul li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(sear_val) > -1);
            });
            }
        })
    });

        $("#fname").on('focusout', function(){
            if ($("#fname").val() == ''){
                document.getElementById("msg").style.display = "block";
            }
            else{
                document.getElementById("msg").style.display = "none";
            }
        });

        $("#lname").on('focusout', function(){
            if ($("#lname").val() == ''){
                document.getElementById("msg1").style.display = "block";
            }
            else{
                document.getElementById("msg1").style.display = "none";
            }
        });

        $("#email").on('focusout', function(){
            if ($("#email").val() == ''){
                document.getElementById("msg2").style.display = "block";
            }
            else{
                document.getElementById("msg2").style.display = "none";
            }
        });

        $("#phone").on('focusout', function(){
            if ($("#phone").val() == ''){
                document.getElementById("msg3").style.display = "block";
            }
            else{
                document.getElementById("msg3").style.display = "none";
            }
        });


        $("#gender").change(function(){
            if ($("#gender")[0].childNodes[1].childNodes[1].childNodes[0].innerText != 'Select'){
                document.getElementById("msg5").style.display = "none";
            }
            else{
                document.getElementById("msg5").style.display = "block";
            }
        });
        
        $("#address").on('focusout', function(){
            if ($("#address").val() == ''){
                document.getElementById("msg11").style.display = "block";
            }
            else{
                document.getElementById("msg11").style.display = "none";
            }

       
        
    });

</script>

<style>
    .btn-design{
    width: 100%;
    height: 50px;
    border-radius: 0;
    -webkit-box-shadow: 0px 5px 20px 3px rgb(230 233 249 / 90%);
    box-shadow: 0px 5px 20px 3px rgb(230 233 249 / 90%);
    border: 1px solid #ebebeb;
    padding-left: 20px px;
    padding-right: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
</style>


<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> 

    <!-- Modal For Primary Skill -->
    <div class="modal fade" id="addSkill" tabindex="-1" aria-labelledby="addSkillLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSkillLabel"> Add New Skill </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 <%= render "skill_sets/new"%>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_popup">Close</button>
                </div>
            </div>
        </div>
    </div>


<!-- Modal For Secondary Skill -->
    <div class="modal fade" id="addSkillsecond" tabindex="-1" aria-labelledby="addSkillsecondLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSkillsecondLabel"> Add New Skill </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%= render "skill_sets/create"%>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_popup_second">Close</button>
                </div>
            </div>
        </div>
    </div>