<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
 <!-- Start Header Area -->
    <!-- End Header Area -->
    
<div class="row">
    <div class="col-lg-2">
			<div class="nav-side-menu sidebar">
				<h2>HRM</h2>
				<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
			
					<div class="menu-list">
			<!-- collapse out -->
						<!-- <ul id="menu-content" class="menu-content nav">
							<li class="nav-item">
							<a href="#">
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAEVJREFUSEtjZKAxYKSx+QyjFhAM4eEfRP/RwgDmY1ziGEFGKIhGLRgBGW00kglGMs2DiGBhRkgBoZxMSD9B+VELRkAQAQCGCxAZP+Br3wAAAABJRU5ErkJggg=="/> Dashboard
							</a>
							</li>

						</ul> -->
				</div>
				<ul class="nav flex-column">
				<li class="nav-item active">
					<a class="nav-link active" href="http://localhost:3000/candidates"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAG9JREFUSEtjZKAxYKSx+Qx0t+AAAwODPQ5fgeQcoXLEqsPwwX8CQQbzMbHqRi3AGaDwxIOeiogNW2LV0T8O8CW/gwwMDA5EJFNkdfTPaFQvOdAjmdgcSqw6+kcyscmPWHWjPhiERcVoTsaIFJpX+gBlrSgZlyR/CgAAAABJRU5ErkJggg==" alt="" />Dashboard</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAARxJREFUSEvtleFtwjAQhb9MABtAJ2i7AWwAEwATtBtQNoAJ6AaFDdoJ2g2gG3QD0JPOkZ3YkQyJ+FEsRUp87+69u/M5BR2vouP4NBFMgBdgBOyAFfBjgp6AJSDMJ7AxTE1vikCOHxX0HzAGjsAB6Ffs0xhJikBKH031GtAzM7W/9v5lGbxaNvpWtsFKEZwM5exSK+U9z/vB9rRVxZewFIHKoWDPXt3fTKmc96Ze7+rHN6DMhk0ZKL1tDJR50pTpwsoZnCIZBpnBUnDFUgkDgmQdvSjZGL8H2c4J+UEcn8A1to0qlQ33CdTk9xb6oODzWJOd8qZSZdtic5AdxJRF/e4E/on7RyW6ZuBqN2rsFF06cMGAuebc9Kffxp3EGV38RxlRFzPlAAAAAElFTkSuQmCC" alt="" />Offers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAG9JREFUSEtjZKAxYKSx+Qx0t+AAAwODPQ5fgeQcoXLEqsPwwX8CQQbzMbHqRi3AGaDwxIOeiogNW2LV0T8O8CW/gwwMDA5EJFNkdfTPaFQvOdAjmdgcSqw6+kcyscmPWHWjPhiERcVoTsaIFJpX+gBlrSgZlyR/CgAAAABJRU5ErkJggg==" alt="" />Link</a>
				</li>
				</ul>
			</div>
		</div>
    <div class="col-lg-10">
    <!-- Start Page Title Area -->
        <div class="page-title-area ">
            <div class="container-fluid">
                <div class="page-title-content">
                    <div class="row">
                        <div class="col-md-12">
                                <%= form_with(url: candidates_url, method: :get, class: "search-form") do |f| %>
                            <div class="row">
                                <div class="col-md-6">
                                    <%= f.text_field :query, class: "form-control search-box-input", placeholder: "Search..." %>
                                </div>
                                <div class="col-md-6">
                                    <%= submit_tag("Search", class: "btn btn-success") %>
                                    <%= link_to 'Clear', candidates_path, class: "btn btn-success" %> 
                                    <div class="dropdown">
                                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Position
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                <%= link_to "ROR Developer", candidates_path(query: "ROR Developer"), class:"dropdown-item"%>
                                                <%= link_to "Java Developer", candidates_path(query: "Java Developer"), class:"dropdown-item"%>
                                                <%= link_to "Python Developer", candidates_path(query: "Python Developer"), class:"dropdown-item"%>
                                        </div>
                                    </div> 
                                    <% if current_user.has_role? :junior_hr %>
                                        <%= link_to 'Add New Candidate', new_candidate_path, class: "btn btn-success" %> 
                                    <% else %>
                                    <% end %>
                                </div>
            
                            </div>
                            <% end %> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        
        
        <!-- Start Freelancers List Area -->

        <section>
            <div class="container-fluid">
            <!-- card starts here -->
            <div class="row">
                <div class="col-lg-12 pt-4">
                    <h3><%= @candidates.count %> Candidates</h3>
                </div>
                <% @candidates.each_with_index do |candidate, i| %>
                <div class="col-lg-3 text-center card-box mb-4">
                    <div class="widget-box">
                        <div class="dropdown float-right">
                            <a href="javascript:void" class="float-right" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="bx bx-dots-vertical float-right"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <%= link_to 'View', candidate_path(candidate.first_name) , class: "dropdown-item"  %>
                            <%= link_to 'Edit', edit_candidate_path(candidate), class: "dropdown-item" %>                                 
                            </div>
                        </div>
                        <%if candidate.image.url.present? %>
                                <span class="emoji-container emoji1">
                                    <%= image_tag candidate.image.url, class: "abc" %>
                                </span>
                        <% else %>
                            <% if candidate.gender == "Male" %>
                                <span class="emoji-container emoji3">
                                    <img src="https://cdn-icons-png.flaticon.com/512/921/921097.png"
                                        alt="">
                                </span>
                            <% elsif candidate.gender == "Female" %>
                                <span class="emoji-container emoji2">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2922/2922506.png"
                                        alt="">
                                </span>
                            <% else %>
                                <span class="emoji-container emoji1">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2922/2922566.png" alt="">
                                </span>
                            <% end %>
                        <% end %>
                        <p class="m-0"><b><%= link_to candidate.first_name+ " " +candidate.last_name,candidate_path(candidate.first_name) %></b></p>
                        <p><%= candidate.category %></p>
                        <% if current_user.has_role? :senior_hr %>
                            <td id="check<%=candidate.id%>">
                                <div class="custom-control custom-switch", id="check<%=candidate.id%>">
                                    <%= check_box_tag "status#{candidate.id}", candidate.id, checked = check(candidate.id), class: "custom-control-input", id: "customSwitch#{candidate.id}"%>   
                                    <label class="custom-control-label" for="customSwitch<%=candidate.id%>" ><%= candidate.status %></label>
                                </div>
                            </td> 
                        <% else %>
                            <td><%= candidate.status %></td>
                        <% end %> 
                    </div>
                </div>
                <% end %>
            </div>
            <!-- card ends here -->
            </div>
            
        </section>
    </div>

   
        <!-- End Page Title Area -->
</div>

    <!-- Start Go Top Area -->
<div class="go-top active">
    <i class="bx bx-chevrons-up"></i>
    <i class="bx bx-chevrons-up"></i>
</div>
    <!-- End Go Top Area --> 

    
<style>
    .more {
    cursor: pointer;
    border: none;
    background: transparent;
    }

    .more span {
    display: block;
    width: .25rem;
    height: .25rem;
    background: #363636;
    border-radius: 50%;
    pointer-events: none;
    }

    .more span:not(:last-child) {
    margin-bottom: .125rem;
    }

    .dropout {
    z-index: 9001;
    width: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    }

    .dropout ul {
    position: absolute;
    top: -1.1rem;
    right: 1.5rem;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.12s ease;
    }

    .dropout.active ul {
    transform: scaleX(1);
    }
    

    
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background-color: #f1f1f1}

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
    
    .abc{
        
        border-radius: 100%;
        
    }
</style>

<script type="text/javascript"> 
    
    $(document).ready(function(){
        $(".candidate-check").click(function(){

        });
        $(":checkbox").click(function(e){
                var code = "";
            if (e.delegateTarget.checked == true){

                code = "Active";
            }else if (e.delegateTarget.checked == false){
                code = "Draft";}
            $.ajax({
                url: '/candidates/' + this.value + '/',
                type: 'PUT',
                data: {"status": code}
                });
        });
    });
</script>




 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <%= javascript_import_module_tag "js/bootstrap" %>
  <%= javascript_import_module_tag "js/vendor/meanmenu.min" %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <%= javascript_import_module_tag "js/vendor/owl.carousel.min" %>
  <%= javascript_import_module_tag "js/vendor/ajaxchimp.min" %>
  <%= javascript_import_module_tag "js/vendor/appear.min" %>
  <%= javascript_import_module_tag "js/vendor/bootstrap-datepicker.min" %>


  <%= javascript_import_module_tag "js/vendor/form-validator.min" %>
  <%= javascript_import_module_tag "js/vendor/jquery.mixitup.min" %>
  <%= javascript_import_module_tag "js/vendor/nice-select.min" %>
  <%= javascript_import_module_tag "js/vendor/magnific-popup.min" %>
  <%= javascript_import_module_tag "js/vendor/odometer.min" %>

  <%= javascript_import_module_tag "js/vendor/owl.carousel.min" %>
  <%= javascript_import_module_tag "js/vendor/range-slider.min" %>
  <%= javascript_import_module_tag "js/vendor/custom" %>

  <%= javascript_import_module_tag "js/popper" %>
  <%= javascript_import_module_tag "js/vendor/custom" %>