<%=  render "layouts/header" %>  
<div class="row">
    <div class="col-lg-2">
		<div class="nav-side-menu sidebar">
			<h2>HRM</h2>
			
			<ul class="nav flex-column">

                <li class="nav-item active">
                    <%= link_to image_tag("dashboard.png") + 'Dashboard', candidates_path, class: "nav-link active" %> 
                </li>

                <li class="nav-item">
                    <%= link_to image_tag("gift.png") + 'Offers', candidates_path, class: "nav-link" %> 
                </li>
                
                <li class="nav-item">
                    <%= link_to image_tag("link.png") + 'Link', candidates_path, class: "nav-link" %> 
                </li>

            </ul>
		</div>
	</div>

    <div class="col-lg-10">
        <div class="page-title-area ">
            <div class="container-fluid">
                <div class="page-title-content">
                    <div class="row">
                        <div class="col-md-12">
                            <%= form_with(url: candidates_url, method: :get, class: "search-form") do |f| %>
                                <div class="row">
                                    <div class="col-md-6">
                                        <%= f.text_field :query, class: "form-control search-box-input", placeholder: "Search..." %>
                                    </div>
                                    <div class="col-md-6">
                                        <%= submit_tag("Search", class: "btn btn-success search-btn") %>
                                        <%= link_to 'Clear', candidates_path, class: "btn btn-success clear-btn" %> 
                                        <div class="dropdown" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true">
                                                Position
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                <%= link_to "UX/UI Designer", candidates_path(query: "UX/UI Designer"), class:"dropdown-item"%>
                                                <%= link_to "Web Developer", candidates_path(query: "Web Developer"), class:"dropdown-item"%>
                                                <%= link_to "Web Designer", candidates_path(query: "Web Designer"), class:"dropdown-item"%>
                                                <%= link_to "Software Developer", candidates_path(query: "Software Developer"), class:"dropdown-item"%>
                                                <%= link_to "SEO", candidates_path(query: "SEO"), class:"dropdown-item"%>
                                            </div>
                                        </div> 
                                        <% if current_user.has_role? :junior_hr %>
                                            <%= link_to 'Add New Candidate', new_candidate_path, class: "btn btn-success" %> 
                                        <% end %>
                                    </div>
                                </div>
                            <% end %> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 pt-4">
                        <h3><%= @candidates.count %> Candidates</h3>
                    </div>
                    <% @candidates.each_with_index do |candidate, i| %>
                        <div class="col-lg-3 text-center card-box mb-4">
                            <div class="widget-box">
                                <div class="dropdown float-right">
                                    <a href="javascript:void" class="float-right" id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-dots-vertical float-right"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <% if current_user.has_role? :bde %>
                                            <%= link_to 'View', candidate_path(candidate) , class: "dropdown-item"  %>                            
                                        <% else %>
                                            <%= link_to 'View', candidate_path(candidate) , class: "dropdown-item"  %>
                                            <%= link_to 'Edit', edit_candidate_path(candidate), class: "dropdown-item" %> 
                                        <% end %>                                
                                    </div>
                                </div>
                                <% if candidate.image.present? %>
                                    <span class="emoji-container emoji1">
                                        <%= image_tag candidate.image.url %>
                                    </span>
                                <% else %>
                                    <% if candidate.gender == "Male" %>
                                        <span class="emoji-container emoji3">
                                            <img src="https://cdn-icons-png.flaticon.com/512/921/921097.png"
                                                alt="">
                                        </span>
                                    <% elsif candidate.gender == "Female" %>
                                        <span class="emoji-container emoji2">
                                            <img src="https://cdn-icons-png.flaticon.com/512/2922/2922506.png"
                                                alt="">
                                        </span>
                                    <% else %>
                                        <span class="emoji-container emoji1">
                                            <img src="https://cdn-icons-png.flaticon.com/512/2922/2922566.png" alt="">
                                        </span>
                                    <% end %>
                                <% end %>
                                <p class="m-0"><b><%= link_to candidate.first_name+ " " +candidate.last_name,candidate_path(candidate.id) %></b></p>
                                <p><%= candidate.category %></p>
                                <p><%= candidate.status %></p> 
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>    
        </section>
    </div>
</div>

<script>
    var base = document.querySelector('.search-btn');
    base.addEventListener('click', function(event) {
        var search = document.querySelector('.search-box-input').value
        localStorage.setItem("search",search)
        if(search.length === 0){event.preventDefault();
        }
    })

    document.querySelector('.search-box-input').value = localStorage.getItem('search')

    var clearbtn = document.querySelector('.clear-btn')

    clearbtn.addEventListener('click', function(event){
        localStorage.setItem('search',"")
    })

    var logoutBtn = document.querySelector('#logout-button')

    logoutBtn.addEventListener('click', function(event){
        localStorage.setItem('search',"")
    })

</script>
  