<%=  render "layouts/header" %> 

<div class="row">

    <div class="col-lg-2">
		<div class="nav-side-menu sidebar">
			<ul class="nav flex-column">
                
                <li class="nav-item active">
                    <%= link_to image_tag("dashboard.png") + 'Dashboard', candidates_path, class: "nav-link active" %> 
                </li>

                <li class="nav-item">
                    <%= link_to image_tag("gift.png") + 'Offers', candidates_path, class: "nav-link" %> 
                </li>

                <li class="nav-item">
                    <%= link_to image_tag("link.png") + 'Link', candidates_path, class: "nav-link" %> 
                </li>

            </ul>
        </div>
	</div>

    <div class="col-lg-10">
    
        <div class="page-title-area ">
            <div class="container-fluid">
                <div class="page-title-content">
                    <div class="row">
                        <div class="col-md-12">
                            <%= form_with(url: candidates_url, method: :get, class: "search-form") do |f| %>
                                <div class="row">
                                    <div class="col-md-11 m-auto">
                                        <div class="row search-area">
                                            
                                            <div class="col-md-4">
                                                <div class="form-group has-search m-0 d-flex align-items-center">
                                                    <span class="fa fa-search form-control-feedback"></span>
                                                    <%= f.text_field :query, class: "form-control search-box-input border-0 h-auto", placeholder: "Search Candidates..." %>
                                                </div>
                                            </div>
											<% if current_user.has_role? :junior_hr %>
                                                <div class="col-md-3">
                                                    <%= link_to image_tag("icons8-plus-50.png", class: "plush-icon mr-3") + 'Add New Candidate', new_candidate_path %> 
                                                </div>
                                            <% end %>

                                            <div class="col-md-3">
                                                <div class="dropdown" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true">
                                                        Position
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                        <%= link_to "Backend Developer", candidates_path(query: "Backend Developer"), class:"dropdown-item"%>
                                                        <%= link_to "Cloud Computing", candidates_path(query: "Cloud Computing"), class:"dropdown-item"%>
                                                        <%= link_to "DevOps Engineer", candidates_path(query: "DevOps Engineer"), class:"dropdown-item"%>
                                                        <%= link_to "Desktop Developer", candidates_path(query: "Desktop Developer"), class:"dropdown-item"%>
                                                        <%= link_to "Database Developer", candidates_path(query: "Database Developer"), class:"dropdown-item"%>
                                                        <%= link_to "Frontend Developer", candidates_path(query: "Frontend Developer"), class:"dropdown-item"%>
                                                        <%= link_to "Full-Stack Developer", candidates_path(query: "Full-Stack Developer"), class:"dropdown-item"%>
                                                        <%= link_to "Mobile Developer", candidates_path(query: "Mobile Developer"), class:"dropdown-item"%>
                                                        <%= link_to "Security Engineer", candidates_path(query: "Security Engineer"), class:"dropdown-item"%>
                                                        <%= link_to "SEO", candidates_path(query: "SEO"), class:"dropdown-item"%>
                                                        <%= link_to "UX/UI Designer", candidates_path(query: "UX/UI Designer"), class:"dropdown-item"%>
                                                        <%= link_to "Web Developer", candidates_path(query: "Web Developer"), class:"dropdown-item"%>
                                                    </div>
                                                </div> 
                                            </div>
                                           
                                            <div class="col-md-2 text-center">
                                                <%= link_to 'Clear', candidates_path, class: "btn clear-btn" %> 
                                                <%= submit_tag("Search", class: "btn search-btn btn-success") %>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            <% end %> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>

    <section id="candidate_sec">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-2">

                    <p>
                        <h3 class="pt-4">
                        Filter
                        </h3>
                    </p>

                    <p class="h4">
                        <%= label_tag "Job Level" %>
                    </p>

                    <div class="jobs_level job_filter">
                        <% ["entry level", "mid level", "top level"].each do |val|%>
                            <%= check_box_tag val + "_check" , val, false %> <%= label_tag val %><br>
                        <% end %>
                    </div>

                    <br>

                    <p class="h4">
                        <%= label_tag "Job Nature"%>
                    </p>

                    <div class="jobs_nature job_filter">
                        <% ["full time", "part time", "contract", "internship", "freelance", "office"].each do |val|%>
                            <%= check_box_tag val + "_check" , val, false %> <%= label_tag val %><br>
                        <% end %>
                    </div>

                </div>

                <div class="col-lg-10" id="candidate_ref">
                    <%= render "candidates"%>
                </div> 

    </section>   
    </div>
    
</div>

<script>

 $(document).ready(function(){
    $(".job_filter input").on('click', function(e){
        
    const arr = $(".job_filter").length
    level_array = []
    nature_array = []

    for (  i=0; i < arr; i++) {
        var inp = $(".job_filter")[i]

        for( j in inp.childNodes){

            if (inp.childNodes[j].nodeName == "INPUT" && inp.childNodes[j].checked){
                switch (inp.classList[0]){
                    case "jobs_level":
                        level_array.push(inp.childNodes[j].defaultValue)
                    break;
                    case "jobs_nature":
                        nature_array.push(inp.childNodes[j].defaultValue)
                    break;
                }
            }
        }            
    }

    $.ajax({
        type: "GET",
        url: "/filter/candidates",
        data: {"level_array": level_array, "nature_array": nature_array}
    });       
    });
})
</script>
  