<%=  render "layouts/header" %> 
<div class="row">

    <%=  render "filters" %> 

    <div class="col-lg-10">
        <div class="page-title-area ">
            <div class="container-fluid">
                <div class="page-title-content">
                    <div class="row">
                        <div class="col-md-12">
                            <%= form_with(url: candidates_url, method: :get, class: "search-form") do |f| %>
                                <div class="row">
                                    <div class="col-md-11 m-auto">
                                        <div class="row search-area">
                                            <div class="col-md-6">
                                                <div class="form-group has-search m-0 d-flex align-items-center">
                                                    <span class="fa fa-search form-control-feedback"></span>
                                                    <%= f.text_field :query, class: "form-control search-box-input border-0 h-auto", placeholder: "Search Candidates..." %>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <%= link_to image_tag("icons8-plus-50.png", class: "plush-icon mr-3") + 'Add New Candidate', new_candidate_path %> 
                                            </div>
                                            <div class="col-md-2 text-center">
                                                <%= link_to 'Clear', candidates_path, class: "btn clear-btn" %> 
                                                <%= submit_tag("Search", class: "btn search-btn btn-success") %>
                                            </div>
                                            <div class="col-12 d-flex justify-content-end">
                                            
                                            <div id="premiumFilter" class="test">
                                                <%= check_box_tag( "premium", "Premium") %>
                                                <b><%= label_tag "Premium Candidates" %></b>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <section id="candidate_sec">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 m-auto" id="candidate_ref">
                        <%= render "candidates"%>
                    </div> 
        </section>   
    </div>
</div>

 <%= javascript_import_module_tag "js/candidate" %>
  