<%= stylesheet_link_tag "style.css", "data-turbo-track": "reload" %>
<!-- Start Header Area -->
    <header class="header-area">       
        <div class="navbar-area">
            <div class="desktop-nav">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="#">
                            <%= image_tag "logo.png", alt: "logo" %>
                        </a>

                        <div class="collapse navbar-collapse mean-menu" style="display: block;">
                            
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <%= link_to 'Dashboard', root_path, class: "nav-link" %>          
                                </li>

                                <li class="nav-item">
                                    <%= link_to 'Freelancers', candidates_path, class: "nav-link active" %>          
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Clients
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Message
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Settings
                                    </a>
                                </li>
                            </ul>
                            
                            <div class="others-option">
                                <div class="get-quote">
                                    <%= button_to "Log Out", destroy_user_session_path, :method => :delete, class: "default-btn" %>
                                </div>
                            </div>
                            
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header Area -->

    <!-- Start Page Title Area -->
    <div class="page-title-area">
        <div class="container-fluid">
            <div class="page-title-content">
                <div class="row">
                    <div class="col-md-7">
                        <h2>Freelancers</h2>                    
                    </div>   
                    <%= form_with(url: candidates_url, method: :get, class: "search-form") do |f| %>
                            
                        <%= f.text_field :query, class: "form-control search-box-input", placeholder: "Search..." %>
                        <%= submit_tag("Search", class: "btn btn-primary") %>
                        <%= link_to 'Clear', candidates_path, class: "btn btn-primary" %>         
                        <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <% Role.all.each_with_index do |role, i| %>
                                        <button class="dropdown-item" type="button"><%= role.name %>
                                        </button>
                                    <% end %>
                                </div>
                        </div>     
                    <% end %>    
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->
    

    <!-- Start Freelancers List Area -->
    <section class="mt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="">
                        <ul class="nav nav-tabs nav-justified freelancers-list-tabs" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true"><span class="tabs-counter-value"><%= @candidates.count %></span> All Freelancers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-draft-tab" data-toggle="pill" href="#pills-draft" role="tab" aria-controls="pills-draft" aria-selected="false"><span class="tabs-counter-value"><%= @final_status %></span> Draft</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-scheduling-tab" data-toggle="pill" href="#pills-scheduling" role="tab" aria-controls="pills-scheduling" aria-selected="false"><span class="tabs-counter-value"><%= @final_active_status %></span> Active</a>
                            </li>
                                                                                                         
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
                                <div class="table-responsive">
                                    <table class="freelancers-list-table table table-striped">
                                        <thead>
                                        <tr>                                           
                                            <th scope="col">APPLICATION</th>
                                            <th scope="col">APPLICANT </th>
                                            <th scope="col">STATUS</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% @candidates.each_with_index do |candidate, i| %>
                                            <tr>
                                                <td><%= candidate.id %></td>
                                                    <td><% if candidate.image.attached? %><%= image_tag candidate.image, class: "abc" %><% end %><%= link_to candidate.first_name+ " " +candidate.last_name,candidate_path(candidate.first_name) %></td>
                                                <% if current_user.has_role? :senior_hr %>
                                                    <td id="check<%=candidate.id%>">
                                                    <div class="custom-control custom-switch">
                                                        <%= check_box_tag "status#{candidate.id}", candidate.id, checked = check(candidate.id), class: "custom-control-input", id: "customSwitch#{candidate.id}"%>   
                                                        <label class="custom-control-label" for="customSwitch<%=candidate.id%>" ><%= candidate.status %></label>
                                                    </div>
                                                    </td> 
                                                <% else %>
                                                    <td><%= candidate.status %></td>
                                                <% end %>    
                                                <% if current_user.has_role? :senior_hr %>
                                                <td>
                                                    <div class="dropout">
                                                        <button class="more">
                                                        <span></span>
                                                        <span></span>
                                                        <span></span>
                                                        </button>
                                                        <ul>
                                                        <li>
                                                            <%= link_to 'Edit', edit_candidate_path(candidate) %>          
                                                        </li>
                                                        <li>
                                                            <%= link_to "Destroy", candidate_path(candidate), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                                                        </li>
                                                        
                                                        </ul>
                                                    </div>
                                                </td>
                                                <% end %>
                                            </tr>
                                        <% end  %>                                                                                                                
                                        </tbody>
                                    </table>
                                </div>
                            </div>                                                                                                                                           
                        </div> 
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Start Freelancers List Area -->


    <!-- Start Footer Area -->
    <footer class="footer-area pt-100 pb-70">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget single-bg">
                        <a href="#" class="logo">
                            <%= image_tag "logo.png", alt: "logo" %>
                        </a>

                        <p>OakTreeCrew is a software development firm known for developing business solutions for small to large scale businesses. Headquartered in India, four enthusiastic and young minds have started it in 2016 from Indore. We are serving clients globally</p>

                        <ul class="social-icon">
                            <li>
                                <a href="#">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-linkedin-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <h3>Contact</h3>

                        <ul class="address">
                            <li>
                                <i class="bx bx-phone-call"></i>
                                <span>Phone:</span>
                                <a href="tel:+1-(514)-7939-357">+91 0731 499 1873</a>
                            </li>
                            <li>
                                <i class="bx bx-envelope"></i>
                                <span>Email:</span>
                                <a href="mailto:hello@oaktreecrew.com">info@oaktreescrew.com</a>
                            </li>
                            <li class="location">
                                <i class="bx bx-location-plus"></i>
                                <span>Address:</span>
                                Shekhar central, 8th, floor, 802, Palasia Square, Manorama Ganj, Indore, Madhya Pradesh 452001
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <h3>Helpful Resources</h3>

                        <ul class="import-link">
                            <li>
                                <a href="#">Create Account</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                            <li>
                                <a href="#">Site Map</a>
                            </li>
                            <li>
                                <a href="#">Terms of Use</a>
                            </li>
                            <li>
                                <a href="#">Privacy Centre</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <h3>Job Seekers</h3>

                        <ul class="import-link">
                            <li>
                                <a href="#">Create Account</a>
                            </li>
                            <li>
                                <a href="#">Browse Jobs</a>
                            </li>
                            <li>
                                <a href="#">Upload CV</a>
                            </li>
                            <li>
                                <a href="#">Company Profile</a>
                            </li>
                            <li>
                                <a href="#">International Jobs</a>
                            </li>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->

    <div class="copy-right-area">
        <div class="container">
            <p>
                © 2020 Oak Tree Crew. All Rights Reserved.
            </p>
        </div>
    </div>
    
    <style>
        .more {
        cursor: pointer;
        border: none;
        background: transparent;
        }

        .more span {
        display: block;
        width: .25rem;
        height: .25rem;
        background: #363636;
        border-radius: 50%;
        pointer-events: none;
        }

        .more span:not(:last-child) {
        margin-bottom: .125rem;
        }

        .dropout {
        z-index: 9001;
        width: fit-content;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        }

        .dropout ul {
        position: absolute;
        top: -1.1rem;
        right: 1.5rem;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.12s ease;
        }

        .dropout.active ul {
        transform: scaleX(1);
        }
        
        .btn{
            position: relative;
            left: 310px;
            bottom: 45px;
        }
        
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #f1f1f1}

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
        
        .abc{
            width:40px;
            border-radius: 100%;
            margin-right: 10px;
        }
    </style>

    <script type="text/javascript"> 
        document.querySelector('table').onclick = ({
            target
            }) => {
            if (!target.classList.contains('more')) return
            document.querySelectorAll('.dropout.active').forEach(
                (d) => d !== target.parentElement && d.classList.remove('active')
            )
            target.parentElement.classList.toggle('active')
        }
        $(document).ready(function(){
            $(".candidate-check").click(function(){

            });
            $(":checkbox").click(function(e){
                    var code = "";
                if (e.delegateTarget.checked == true){

                    code = "Active";
                }else if (e.delegateTarget.checked == false){
                    code = "Draft";}
                $.ajax({
                    url: '/candidates/' + this.value + '/',
                    type: 'PUT',
                    data: {"status": code}
                    });
            });
        });
    </script>


