<%=  render "layouts/header" %>

<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="row">
	<div class="col-lg-2">
		<div class="nav-side-menu sidebar">
			
			<ul class="nav flex-column">
				
				<li class="nav-item active">
					<%= link_to image_tag("dashboard.png") + 'Dashboard', candidates_path, class: "nav-link active" %> 
				</li>


			</ul>
		</div>
	</div>
	<div class="col-lg-10">
		<div class="content-area">
			<div class="page-title-area">
				<div class="col-lg-8">
					<div class="page-title-content">
						<h2>Candidate Details<span>
						<ul>
							<% if current_user.has_role? :bde %>
								<li> <%= link_to 'Home', candidates_path %> </li>
								<li class="active">Candidates Details</li>
							<% else %>
								<li> <%= link_to 'Home', candidates_path %> </li>
								<li class="active">Candidates Details</li>
								<li> <%= link_to 'Edit Profile', edit_candidate_path %></li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
			<section class="candidates-details-area pt-2">
				<div class="">
					<div class="row">
						<div class="col-lg-8">
							<div class="candidates-cv">
								<div class="row align-items-center">
									<div class="col-lg-2">
										<div class="hot-jobs-img">
											<%if @candidate.image.present? %>
												<span class="emoji-container emoji1">
													<%= image_tag @candidate.image.url, class: "abc" %>
												</span>
											<% else %>
												<% if @candidate.gender == "Male" %>
													<span class="emoji-container emoji3">
														<img src="https://cdn-icons-png.flaticon.com/512/921/921097.png"
															alt="">
													</span>
												<% elsif @candidate.gender == "Female" %>
													<span class="emoji-container emoji2">
														<img src="https://cdn-icons-png.flaticon.com/512/2922/2922566.png"
															alt="">
													</span>
												<% else %>
													<span class="emoji-container emoji1">
														<img src="https://cdn-icons-png.flaticon.com/512/2922/2922506.png" alt="">
													</span>
												<% end %>
											<% end %>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="candidates-cv-content">
											<h3><%= @candidate.first_name+ " " +@candidate.last_name %></h3>
											<% if @candidate.category.present? %>
												<span class="sub-title"><%= @candidate.category %></span>
											<% end %>
											<% if current_user.has_role? :senior_hr %>
												<td id="check<%=@candidate.id%>">
													<div class="custom-control custom-switch", id="check<%=@candidate.id%>">
														<%= check_box_tag "status#{@candidate.id}", @candidate.id, checked = check(@candidate.id), class: "custom-control-input", id: "customSwitch#{@candidate.id}"%>   
														<label class="custom-control-label" for="customSwitch<%=@candidate.id%>" ><%= @candidate.status %></label>
													</div>
												</td> 
											<% else %>
												Status <span class=" <%=  @candidate.status == 'Draft'? 'badge badge-secondary': 'badge badge-success'  %>"> <%= @candidate.status %></span>  											<% end %>
												<ul>
													<li><span>Location: </span><%= @candidate.current_location+ " , " +@candidate.nationality %></li>	
												</ul>
										</div>
									</div>
									<div class="col-lg-7">
										<%= link_to 'View Resume', @candidate.file.url, download: @candidate.file.url,  class: "default-btn px-2 ml-2", target: "_blank" %>
										<% unless ['admin', 'pool_manager', 'sales_person'].include?(current_user.roles.first.name) %>
											<button type="button" class="default-btn px-2 ml-2" data-toggle="modal" data-target="#assignmentmodel">Assign To Lead</button>
											<button type="button" class="default-btn px-2 ml-2" data-toggle="modal" data-target="#afterNoticeModal">Schedule Interview</button>				
										<% end %>						
									</div>
								</div>
							</div>
							<div class="candidates-details-content mb-4">
								<div class="mt-1">
									<h3>Primary Skills</h3>
									<ul class="d-flex flex-wrap badge-list mb-0">
										<% @candidate.primary_skill.each do |candidate| %>
											<span class="sub-title"><%= candidate %></span>
										<% end %>
									</ul>
								</div>
								<div class="mt-5">
									<h3>Secondary Skills</h3>
									<ul class="d-flex flex-wrap badge-list mb-0">
										<% @candidate.secondary_skill.each do |candidate| %>
											<span class="sub-title"><%= candidate %></span>
										<% end %>
									</ul>
								</div>
							</div>
							<div class="candidates-details-content mb-4">
								<div class="widget-box">
									<h3>Documents</h3>
									<ul class="overview download nav align-items-center mb-4 mt-3">
										<li class="nav-item d-flex align-items-center flex-fill">
											<i class="bx bxs-file-pdf"></i>
											<a href="" class="nav-link">
												<% if @candidate.file.url.present? %>
													<p>
														<%= button_to 'Download Original Resume', url_for(@candidate.file.url), method: :get %>
													</p>
												<% else %>
													<p>
														<button onclick="showAlert()">Download Original Resume</button>
													</p>
												<% end %>											
											</a>
										</li>
									</ul>
									<ul class="overview download nav align-items-center mb-4">
										<li class="nav-item d-flex align-items-center flex-fill">
											<i class="bx bxs-file-pdf"></i>
											<a href="" class="nav-link">
												<% if @candidate.updated_file.url.present? %>
													<p>
														<%= button_to 'Download Updated Resume', url_for(@candidate.updated_file.url), method: :get %>
													</p>
												<% else %>
													<p>
														<button onclick="showAlert()">Download Updated Resume</button>
													</p>
												<% end %>	
			
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="candidates-details-content">
								<h3>About Me</h3>
								<p><%= @candidate.notes %></p>
								<h3>Education Details</h3>
								<h6>Institute Name : </h6>
								<%= @candidate.institute_name %><br>
								<h6> Passout Year : </h6>
								<%= @candidate.year_of_passing%><br>
								<h6>Degree: </h6><%= @candidate.degree %><br><%= @candidate.duration%> <% if @candidate.duration.present? %> yrs <% end %>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="candidates-details-sidebar">
								<div class="candidates-widget">
									<h3>Contact Information</h3>
									<ul class="overview">
										<li>
											Email :<span><%= @candidate.email %></span>
										</li>
										<li>
											Phone :<span><%= @candidate.phone %></span>
										</li>
										<li>
											Location :<span><%= @candidate.city %></span>
										</li>
										<li>
											Linkedin Profile :
											<span>
												<a href="<%= @candidate.link %>" target="_blank">
													<%= image_tag("linkedin.png")%>
												</a>
											</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="candidates-widget widget-box h-auto mb-4">
								<h3 class="mb-4">Experience</h3>
								<div class="mb-4">
									<p clas0000000000000000000000000000000000000000s="m-0 d-flex align-items-center"><b><%= @candidate.company_name %></b></p>
									<div class="">
										<p class="grey-text"><%= @candidate.employment_period %><% if @candidate.employment_period.present? %> -Present<% end %><span class="float-right"><%= @candidate.company_location %></span></p>
									</div>
									<p class="pt-3 mb-0"><b><%= @candidate.designation %></b></p>
									<p class="text-muted"><%= @candidate.responsiblities %></p>
								</div>
							</div>
							<div class="candidates-details-sidebar">
								<div class="candidates-widget" id="comment_refresh">
									<h3>Comments</h3>
									<ul class="overview">
										<div>
											<% @candidate.comments.each do |comment| %>
												<div class="position-relative">
													<span class=""><%= comment.user.email %></span>
													<span><%= comment.content.body %></span>
														<span class="delete-button-position">
															<%  if comment.user == current_user %>
																<%= link_to candidate_comment_path(candidate_id: @candidate.id, id: comment.id), method: :delete,  data: { confirm: "Are you sure you want to delete this comment ?" }, class: "btn btn-danger", remote: true do %>
																<i class="fa fa-trash"></i>
																<% end %>
															<% end %>
														</span>
														<hr>
												</div>
											<% end %>
										</div>
										<button type="button" class="btn btn-success" data-toggle="modal" data-target="#commentModal">Add a comment</button>
									</ul>
								</div>	
							</div>
							<div class="candidates-widget widget-box h-auto mb-4">
								<h3 class="mb-4">Availability</h3>
								<div class="mb-4">
									<p class="m-0 d-flex align-items-center"><b>Availabile From: <%= @candidate.formatted_start_time %></b><button type="button" class="btn text-primary" data-toggle="modal" data-target="#avabilitymodel">
									<i class="fa fa-pencil"></i></button></p>
									<p class="pt-3 mb-0"><b>Availabile To: <%= @candidate.formatted_end_time %></b><button type="button" class="btn text-primary" data-toggle="modal" data-target="#avabilitymodel">
									<i class="fa fa-pencil"></i></button></p>
								</div>
							</div>
							<div class="candidates-details-sidebar">				
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

<!-- Comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Notes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	 	 <%= form_with url: candidate_comments_path(@candidate) do |f| %>
			<%= f.text_area :content, :class => "tinymce", :rows => 40, :cols => 120 %>
			<%= tinymce %>	
			<%= f.submit "Submit" , class: "tiny-mice", class: 'btn btn-success' %>
		<% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>	

<!--Lead Assignment Modal -->
<div class="modal fade" id="assignmentmodel" tabindex="-1" aria-labelledby="assignmentmodelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assignmentmodelLabel">Lead Assigned To...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="lead_close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  	<%= render 'lead_assignments/form'%>
	</div>
    </div>
  </div>
</div>

<!-- Avaibility Modal -->
<div class="modal fade" id="avabilitymodel" tabindex="-1" aria-labelledby="avabilitymodelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      	<div class="modal-header">
			<h5 class="modal-title" id="avabilitymodelLabel">Edit Availability</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="lead_close">
			<span aria-hidden="true">&times;</span>
			</button>
     	</div>
      	<div class="modal-body">
			<%= form_with model: @candidate,  :html => {:multipart => true}, class: "resume-info" do |f| %>
				<div class="col-lg-6 col-md-6">
					<div class="form-group">
						<label>Availability From </label>
						<%= f.text_field :start_time, class: "form-control", id: "timepicker" %>
					</div>
				</div>

				<div class="col-lg-6 col-md-6">
					<div class="form-group">
						<label>Availability To </label>
						<%= f.text_field :end_time, class: "form-control", id: "timepicker1" %>
					</div>
				</div>

				<div class="col-lg-12">
					<%= f.submit "Save", class: " btn default-btn" %>
				</div>
			<% end %>
		</div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="afterNoticeModal" tabindex="-1" aria-labelledby="afterNoticeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="afterNoticeModalLabel">Schedule Interview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeinterview">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'interview_schedules/form'%>
      </div>
    </div>
  </div>
</div>


<style>
	.delete-button-position{
		position: absolute;
		top: 0;
		right: 0;
	}
</style>

<script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<script>
	$(document).ready(function(){
		$(".candidate-check").click(function(){});

		$(":checkbox").click(function(e){
			var code = "";
			if (e.delegateTarget.checked == true){
				code = "Active";
			}else if (e.delegateTarget.checked == false){
				code = "Draft";}
			$.ajax({
				url: '/candidates/' + this.value + '/',
				type: 'PUT',
				data: {"status": code}
			});
		});

		$('#dtField').datetimepicker({
			uiLibrary: 'bootstrap4',
			modal: true,
			footer: true
		});	

	});
	
	function showAlert() {
		alert("Resume Not Available.");
	}	
</script>
<script>
	$('#timepicker').timepicker({
					twelvehour: true,
					uiLibrary: 'bootstrap4',
					format: 'h:mm A'
					
			});

	$('#timepicker1').timepicker({
		twelvehour: true,
		uiLibrary: 'bootstrap4',
		format: 'h:mm A'
	});
</script>